@{
    ViewBag.Title = "Administrator_Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Administrator_Login</h2>

@model SoulMate.Models.Admin
<div style="padding:20px 15px 30px 15px;">
        <h1><span>Login</span> Here</h1>

<br>
<br>

<!--<form method="post" action="/User">
<b>Username : <input type="text" name="usern">
<br><br>
<b>Password : <input type="password" name="pas">
<br><br>
<input type="submit" value="Login" >
<br><br>
</form>
    <br>
    <br>
    <h3><b><a href="/Home/Register">Register Yourself Here</a></b></h3>-->

    @using (Html.BeginForm("Administrator_Login_check", "Home", FormMethod.Post))
    {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Log in Form</legend>
      
                @Html.LabelFor(m => m.Name)
                @Html.TextBoxFor(m => m.Name)
                @Html.ValidationMessageFor(m => m.Name)
           
                @Html.LabelFor(m => m.Password)
                @Html.PasswordFor(m => m.Password)
                @Html.ValidationMessageFor(m => m.Password)
          
        <input type="submit" value="Log in" />
    </fieldset>
    <p>
        @Html.ActionLink("Register", "Register") if you don't have an account.
    </p>
}


    </div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
